html {
background-color: blue;
}

* {
    margin :0px;
    Padding: 0px;
}

nav {
    background-color: black; 
    margin: 10vh 0px;
    display: flex;
}

nav a {
    background-color: gold;
    width: 10%;
  
}

section {
    background-color: white;
    min-height: 50vh;
    margin: 5vh 0px;
    width: 70%;
}

footer {
    background-color: red;
}