html {
    background-color: dimgrey;
    background-image: url(Images/bg.jpg);
    background-attachment: fixed;
}



* {
    margin: 0px;
    Padding: 0px;
}

nav {
    background-color: white;
    margin: 10vh 10px;
    display: flex;
}

nav a {
    background-color: white;
    width: 130%;

}

section {
    background-color: white;
    min-height: 50vh;
    margin: 5vh auto;
    width: 70%;

}

.wrap {
    display: flex;
}

h1 {
    width: 100%;
    display: block;
}

p {
    /*   display: inline-block;*/
    width: 70%;
    vertical-align: top;
}


.box {
    display: inline-block;
    width: 30%;
    height: 30vh;
    background-color: black
}

footer {
    background-color: red;
}
