html {
    background-color: dimgrey;
    background-image: url(Images/bg.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}



* {
    margin: 0px;
    Padding: 0px;
}

nav {
    margin: 300px;
    background-color: white;
    display: flex;
    padding: 75px;
   
}

nav a {
    background-color: white;
    width: 130%;
    font-size: 600%;
}



.logo {
    display: block;
    margin: auto;
    size: 40px 40px 
    
        
}






section {
    background-color: white;
    min-height: 50vh;
    margin: 5vh auto;
    width: 70%;
    opacity: 0.4;
  

}

.wrap {
    display: flex;
}

h1 {
    width: 100%;
    display: block;
    text-shadow: 0 0 3px red;
}

p {
    /*   display: inline-block;*/
    width: 70%;
    vertical-align: top;
}


.box {
    display: inline-block;
    width: 30%;
    height: 30vh;
    background-color: black;
}

footer {
    background-color: red;
}
